.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.key {
    height: 80px;
    width: 50vh;
    background-color: grey;
    color: white;
    margin-right: 10px;
    text-align: center;
    border: 3px solid black;
}

.playing {
    border: 5px solid yellow;
}

.drum-type {
    color: yellow;
    font-size: 0.8em;
}

audio {
    display: none;
}